.footer-container {
    padding: 0 80px;
    background: #aaa;
    .menu {
        padding: 10px 0;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div {
            margin-right: 10px;
        }
    }
    .ant-divider-horizontal {
        margin: 0;
    }
    .contact {
        padding: 15px 30px;
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        .logo-info {
            width: 320px;
            margin-right: 20px;
            text-align: center;
        }
        .logo-content {
            padding: 20px 0;
        }
        .contact-content {
            white-space: nowrap;
            width: 410px;
        }
    }
}

@media screen and (max-width: 900px) {
    .footer-container {
        padding: 0 40px;
        .contact {
            padding: 15px 0 0 0;
            .logo-info {
                margin: 0;
            }
            .logo-img {
                img {
                    max-width: 100%;
                }
            }
            .contact-content {
                max-width: 100%;
                white-space: normal;
                div {
                    display: flex;
                }
            }
        }
    }
}