.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin-left: 200px;
    font-size: 40px;
}

.menu {
    float: right;
    margin-right: 100px;
}

// 样式修改
.ivu-menu-horizontal {
    height: 100px !important;
    line-height: 100px !important;
}
