.header-container {
    .logo {
        img {
            height: 50px;
        }
    }
    .menu-container {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
    }
}